@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This page in the future will detail basketball NIs privacy policy, this is dependent on the website launchin mainstream and becoming live to the public outside of testing .</p>

<p>Otherwise have a nice picture of a dog for now</p>


