@using Test2.ViewModels

@model CreatePlayerViewModel


<h1>This form will Create a new player to be tracked, please ensure all the information is correct and relevant</h1>

<form method="post" asp-action="Create">
    <input type="hidden" id="BasketballNiId" name="BasketballNiId" asp-for="BasketballNiId" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Points">Points</label>
        <input asp-for="Points" class="form-control" placeholder="Enter Points">
        <span asp-validation-for="Points" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TeamName">Team Name</label>
        <input asp-for="TeamName" class="form-control" placeholder="Enter Team Name">
        <span asp-validation-for="TeamName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Assists">Assists</label>
        <input asp-for="Assists" class="form-control" placeholder="Enter Assists">
        <span asp-validation-for="Assists" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rebounds">Rebounds</label>
        <input asp-for="Rebounds" class="form-control" placeholder="Enter Rebounds">
        <span asp-validation-for="Rebounds" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Blocks">Blocks</label>
        <input asp-for="Blocks" class="form-control" placeholder="Enter Blocks">
        <span asp-validation-for="Blocks" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Steals">Steals</label>
        <input asp-for="Steals" class="form-control" placeholder="Enter Steals">
        <span asp-validation-for="Steals" class="text-danger"></span>
    </div>

    <h1></h1>
    <button type="submit" class="btn btn-primary">Submit</button>
    
</form>


@section Scripts 
{
 
    @{
    <partial name="_ValidationScriptsPartial" />
    }

}
    
 